:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.drawer-container {
 
  flex: 1 0 auto;

}
.drawer-content {
  margin-top: 70px;
}
.drawer-toolbar{
  position: fixed;
  z-index: 2;
}
.side-drawer {
  margin-top: 60px;
  width: 150px;
}
.toolbar-spacer {
  flex: 1 1 auto
}
.toolbar-option {
  margin-right: 8px;
}

.mat-h3 {
  margin-top: 16px;
  margin-right: 8px;
}
#markdown {
  display: flex;
  flex-direction: column;
  margin: 36px;
  align-items: flex-start;
}
